<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>instance_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{759,1215}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{759,1215}}</string>
        <key>sourceSize</key>
        <string>{759,1215}</string>
      </dict>
      <key>instance_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,1221},{753,793}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{753,793}}</string>
        <key>sourceSize</key>
        <string>{753,793}</string>
      </dict>
      <key>instance_pansidong.png</key>
      <dict>
        <key>frame</key>
        <string>{{759,1221},{227,92}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{227,92}}</string>
        <key>sourceSize</key>
        <string>{227,92}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string></string>
      <key>size</key>
      <string>{1024,2048}</string>
      <key>textureFileName</key>
      <string>instance_1.png</string>
    </dict>
  </dict>
</plist>
