<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>common_handbook_window_bg.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{748,1007}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{748,1007}}</string>
        <key>sourceSize</key>
        <string>{748,1007}</string>
      </dict>
      <key>common_shop_bg.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,1013},{640,836}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,2},{640,836}}</string>
        <key>sourceSize</key>
        <string>{644,840}</string>
      </dict>
      <key>common_shop_itembg.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,1853},{130,186}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{130,186}}</string>
        <key>sourceSize</key>
        <string>{130,186}</string>
      </dict>
      <key>common_dashedLine.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2043},{135,2}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{135,2}}</string>
        <key>sourceSize</key>
        <string>{135,2}</string>
      </dict>
      <key>common_handbook_itembg.png</key>
      <dict>
        <key>frame</key>
        <string>{{136,1853},{138,165}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{138,165}}</string>
        <key>sourceSize</key>
        <string>{138,165}</string>
      </dict>
      <key>common_info_titlebg.png</key>
      <dict>
        <key>frame</key>
        <string>{{141,2022},{29,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,23}}</string>
        <key>sourceSize</key>
        <string>{29,23}</string>
      </dict>
      <key>common_plus.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,2022},{23,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,22}}</string>
        <key>sourceSize</key>
        <string>{23,22}</string>
      </dict>
      <key>building_arrow_bg.png</key>
      <dict>
        <key>frame</key>
        <string>{{201,2022},{22,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,21}}</string>
        <key>sourceSize</key>
        <string>{22,21}</string>
      </dict>
      <key>congratulations_bg.png</key>
      <dict>
        <key>frame</key>
        <string>{{227,2022},{13,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{13,19}}</string>
        <key>sourceSize</key>
        <string>{13,19}</string>
      </dict>
      <key>common_hint1.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,2022},{11,13}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{11,13}}</string>
        <key>sourceSize</key>
        <string>{11,13}</string>
      </dict>
      <key>common_divider.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,2039},{7,7}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{7,7}}</string>
        <key>sourceSize</key>
        <string>{7,7}</string>
      </dict>
      <key>congratulations_Wline.png</key>
      <dict>
        <key>frame</key>
        <string>{{255,2039},{5,4}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{5,4}}</string>
        <key>sourceSize</key>
        <string>{5,4}</string>
      </dict>
      <key>common_hint2.png</key>
      <dict>
        <key>frame</key>
        <string>{{259,2022},{11,13}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{11,13}}</string>
        <key>sourceSize</key>
        <string>{11,13}</string>
      </dict>
      <key>common_decrease.png</key>
      <dict>
        <key>frame</key>
        <string>{{274,2022},{23,12}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,5},{23,12}}</string>
        <key>sourceSize</key>
        <string>{23,22}</string>
      </dict>
      <key>common_progressbar4.png</key>
      <dict>
        <key>frame</key>
        <string>{{274,2038},{120,8}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,8}}</string>
        <key>sourceSize</key>
        <string>{120,8}</string>
      </dict>
      <key>common_progressbar_time1.png</key>
      <dict>
        <key>frame</key>
        <string>{{398,2038},{12,8}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{12,8}}</string>
        <key>sourceSize</key>
        <string>{12,8}</string>
      </dict>
      <key>congratulations_line.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,2039},{5,4}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{5,4}}</string>
        <key>sourceSize</key>
        <string>{5,4}</string>
      </dict>
      <key>common_object_bg.png</key>
      <dict>
        <key>frame</key>
        <string>{{278,1853},{135,135}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{135,135}}</string>
        <key>sourceSize</key>
        <string>{135,135}</string>
      </dict>
      <key>common_bottombg.png</key>
      <dict>
        <key>frame</key>
        <string>{{278,1992},{60,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,26}}</string>
        <key>sourceSize</key>
        <string>{60,26}</string>
      </dict>
      <key>common_upStage_bottom.png</key>
      <dict>
        <key>frame</key>
        <string>{{414,1992},{53,53}}</string>
        <key>offset</key>
        <string>{0.5,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,1},{53,53}}</string>
        <key>sourceSize</key>
        <string>{54,54}</string>
      </dict>
      <key>common_info_bg3.png</key>
      <dict>
        <key>frame</key>
        <string>{{342,1992},{54,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,41}}</string>
        <key>sourceSize</key>
        <string>{54,41}</string>
      </dict>
      <key>building_bg.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,1992},{10,10}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,10}}</string>
        <key>sourceSize</key>
        <string>{10,10}</string>
      </dict>
      <key>common_progressbar_time2.png</key>
      <dict>
        <key>frame</key>
        <string>{{301,2022},{12,8}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{12,8}}</string>
        <key>sourceSize</key>
        <string>{12,8}</string>
      </dict>
      <key>common_white.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,2006},{2,2}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{2,2}}</string>
        <key>sourceSize</key>
        <string>{2,2}</string>
      </dict>
      <key>common_fbg.png</key>
      <dict>
        <key>frame</key>
        <string>{{417,1853},{104,104}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{104,104}}</string>
        <key>sourceSize</key>
        <string>{104,104}</string>
      </dict>
      <key>common_icon_upstarDecorate.png</key>
      <dict>
        <key>frame</key>
        <string>{{471,1961},{72,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,2},{72,84}}</string>
        <key>sourceSize</key>
        <string>{76,88}</string>
      </dict>
      <key>common_sbg.png</key>
      <dict>
        <key>frame</key>
        <string>{{525,1853},{103,104}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{103,104}}</string>
        <key>sourceSize</key>
        <string>{103,104}</string>
      </dict>
      <key>common_tbg.png</key>
      <dict>
        <key>frame</key>
        <string>{{632,1853},{103,104}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{103,104}}</string>
        <key>sourceSize</key>
        <string>{103,104}</string>
      </dict>
      <key>common_progressbar6.png</key>
      <dict>
        <key>frame</key>
        <string>{{547,1961},{91,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{91,82}}</string>
        <key>sourceSize</key>
        <string>{91,82}</string>
      </dict>
      <key>common_arrow_right.png</key>
      <dict>
        <key>frame</key>
        <string>{{642,1961},{41,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{41,82}}</string>
        <key>sourceSize</key>
        <string>{41,82}</string>
      </dict>
      <key>common_avatar.png</key>
      <dict>
        <key>frame</key>
        <string>{{687,1961},{80,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,80}}</string>
        <key>sourceSize</key>
        <string>{80,80}</string>
      </dict>
      <key>common_wooden_bg.png</key>
      <dict>
        <key>frame</key>
        <string>{{771,1961},{87,79}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{87,79}}</string>
        <key>sourceSize</key>
        <string>{87,79}</string>
      </dict>
      <key>common_fourth_title_bg.png</key>
      <dict>
        <key>frame</key>
        <string>{{862,1961},{437,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{437,75}}</string>
        <key>sourceSize</key>
        <string>{437,75}</string>
      </dict>
      <key>common_icon_attack.png</key>
      <dict>
        <key>frame</key>
        <string>{{1303,1961},{57,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{57,74}}</string>
        <key>sourceSize</key>
        <string>{57,74}</string>
      </dict>
      <key>common_window_bg.png</key>
      <dict>
        <key>frame</key>
        <string>{{646,1013},{607,820}}</string>
        <key>offset</key>
        <string>{0,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,2},{607,820}}</string>
        <key>sourceSize</key>
        <string>{611,827}</string>
      </dict>
      <key>common_second_tittle_bg.png</key>
      <dict>
        <key>frame</key>
        <string>{{739,1837},{269,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{269,100}}</string>
        <key>sourceSize</key>
        <string>{269,100}</string>
      </dict>
      <key>arrow.png</key>
      <dict>
        <key>frame</key>
        <string>{{1012,1837},{56,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,100}}</string>
        <key>sourceSize</key>
        <string>{56,100}</string>
      </dict>
      <key>common_exclamation.png</key>
      <dict>
        <key>frame</key>
        <string>{{1072,1837},{98,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,96}}</string>
        <key>sourceSize</key>
        <string>{98,96}</string>
      </dict>
      <key>hero_Point coin.png</key>
      <dict>
        <key>frame</key>
        <string>{{1174,1837},{100,95}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,2},{100,95}}</string>
        <key>sourceSize</key>
        <string>{104,99}</string>
      </dict>
      <key>hero_Point coin2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1278,1837},{100,95}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,2},{100,95}}</string>
        <key>sourceSize</key>
        <string>{104,99}</string>
      </dict>
      <key>deinsectization.png</key>
      <dict>
        <key>frame</key>
        <string>{{1364,1936},{72,92}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{64,54},{72,92}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
      <key>common_third_title_bg.png</key>
      <dict>
        <key>frame</key>
        <string>{{1382,1837},{300,91}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{300,91}}</string>
        <key>sourceSize</key>
        <string>{300,91}</string>
      </dict>
      <key>congratulations_new.png</key>
      <dict>
        <key>frame</key>
        <string>{{1686,2},{318,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{318,62}}</string>
        <key>sourceSize</key>
        <string>{318,62}</string>
      </dict>
      <key>common_fIcon.png</key>
      <dict>
        <key>frame</key>
        <string>{{2008,2},{38,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,38}}</string>
        <key>sourceSize</key>
        <string>{38,38}</string>
      </dict>
      <key>common_sIcon.png</key>
      <dict>
        <key>frame</key>
        <string>{{2008,44},{38,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,38}}</string>
        <key>sourceSize</key>
        <string>{38,38}</string>
      </dict>
      <key>common_encounter_bg2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1686,68},{308,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{308,57}}</string>
        <key>sourceSize</key>
        <string>{308,57}</string>
      </dict>
      <key>common_handbook_slide.png</key>
      <dict>
        <key>frame</key>
        <string>{{1998,68},{6,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{6,36}}</string>
        <key>sourceSize</key>
        <string>{6,36}</string>
      </dict>
      <key>common_icon_defend.png</key>
      <dict>
        <key>frame</key>
        <string>{{1998,108},{48,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,62}}</string>
        <key>sourceSize</key>
        <string>{48,62}</string>
      </dict>
      <key>common_encounter_bg3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1686,129},{308,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{308,57}}</string>
        <key>sourceSize</key>
        <string>{308,57}</string>
      </dict>
      <key>common_gear.png</key>
      <dict>
        <key>frame</key>
        <string>{{1998,174},{48,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,49}}</string>
        <key>sourceSize</key>
        <string>{48,49}</string>
      </dict>
      <key>common_server_bg.png</key>
      <dict>
        <key>frame</key>
        <string>{{754,190},{599,816}}</string>
        <key>offset</key>
        <string>{6,6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{28,0},{599,816}}</string>
        <key>sourceSize</key>
        <string>{643,828}</string>
      </dict>
      <key>common_encounter_bg.png</key>
      <dict>
        <key>frame</key>
        <string>{{1686,190},{297,383}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{297,383}}</string>
        <key>sourceSize</key>
        <string>{297,383}</string>
      </dict>
      <key>common_amount_bg.png</key>
      <dict>
        <key>frame</key>
        <string>{{1987,227},{57,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{57,43}}</string>
        <key>sourceSize</key>
        <string>{57,43}</string>
      </dict>
      <key>common_btn_close.png</key>
      <dict>
        <key>frame</key>
        <string>{{1987,274},{49,53}}</string>
        <key>offset</key>
        <string>{1,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,5},{49,53}}</string>
        <key>sourceSize</key>
        <string>{53,61}</string>
      </dict>
      <key>common_btn4-1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1987,331},{46,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,46}}</string>
        <key>sourceSize</key>
        <string>{46,46}</string>
      </dict>
      <key>common_btn4.png</key>
      <dict>
        <key>frame</key>
        <string>{{1987,381},{46,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,46}}</string>
        <key>sourceSize</key>
        <string>{46,46}</string>
      </dict>
      <key>common_arrow_left.png</key>
      <dict>
        <key>frame</key>
        <string>{{1987,431},{45,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,59}}</string>
        <key>sourceSize</key>
        <string>{45,59}</string>
      </dict>
      <key>common_upStage_upon.png</key>
      <dict>
        <key>frame</key>
        <string>{{1987,494},{45,45}}</string>
        <key>offset</key>
        <string>{0.5,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,5},{45,45}}</string>
        <key>sourceSize</key>
        <string>{54,54}</string>
      </dict>
      <key>item_diamond.png</key>
      <dict>
        <key>frame</key>
        <string>{{1987,543},{45,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,41}}</string>
        <key>sourceSize</key>
        <string>{45,41}</string>
      </dict>
      <key>common_handbookPropertyBg.png</key>
      <dict>
        <key>frame</key>
        <string>{{1357,577},{624,205}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{624,205}}</string>
        <key>sourceSize</key>
        <string>{624,205}</string>
      </dict>
      <key>congratulations_decoration.png</key>
      <dict>
        <key>frame</key>
        <string>{{1985,588},{45,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,37}}</string>
        <key>sourceSize</key>
        <string>{45,37}</string>
      </dict>
      <key>common_people2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1985,629},{44,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,2},{44,61}}</string>
        <key>sourceSize</key>
        <string>{48,65}</string>
      </dict>
      <key>common_people3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1985,694},{44,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,2},{44,61}}</string>
        <key>sourceSize</key>
        <string>{48,65}</string>
      </dict>
      <key>server_new.png</key>
      <dict>
        <key>frame</key>
        <string>{{1985,759},{43,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,46}}</string>
        <key>sourceSize</key>
        <string>{43,46}</string>
      </dict>
      <key>congratulations_reward.png</key>
      <dict>
        <key>frame</key>
        <string>{{1686,786},{256,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,62}}</string>
        <key>sourceSize</key>
        <string>{256,62}</string>
      </dict>
      <key>common_shop_costbg.png</key>
      <dict>
        <key>frame</key>
        <string>{{1946,809},{100,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,43}}</string>
        <key>sourceSize</key>
        <string>{100,43}</string>
      </dict>
      <key>common_confirm_bg2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1946,856},{98,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,66}}</string>
        <key>sourceSize</key>
        <string>{98,66}</string>
      </dict>
      <key>common_handbook_herobg.png</key>
      <dict>
        <key>frame</key>
        <string>{{1686,852},{244,217}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{244,217}}</string>
        <key>sourceSize</key>
        <string>{244,217}</string>
      </dict>
      <key>common_handbook_improval_title.png</key>
      <dict>
        <key>frame</key>
        <string>{{1934,926},{104,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{104,35}}</string>
        <key>sourceSize</key>
        <string>{104,35}</string>
      </dict>
      <key>common_confirm_bg1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1934,965},{98,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,55}}</string>
        <key>sourceSize</key>
        <string>{98,55}</string>
      </dict>
      <key>mission_chest.png</key>
      <dict>
        <key>frame</key>
        <string>{{1934,1024},{84,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{84,64}}</string>
        <key>sourceSize</key>
        <string>{84,64}</string>
      </dict>
      <key>common_missiontime.png</key>
      <dict>
        <key>frame</key>
        <string>{{2022,1024},{24,28}}</string>
        <key>offset</key>
        <string>{-1.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,28}}</string>
        <key>sourceSize</key>
        <string>{27,28}</string>
      </dict>
      <key>common_handbook_slide_bar.png</key>
      <dict>
        <key>frame</key>
        <string>{{2022,1056},{22,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,45}}</string>
        <key>sourceSize</key>
        <string>{22,45}</string>
      </dict>
      <key>common_btn7.png</key>
      <dict>
        <key>frame</key>
        <string>{{2022,1105},{21,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,36}}</string>
        <key>sourceSize</key>
        <string>{21,36}</string>
      </dict>
      <key>common_progressbar1.png</key>
      <dict>
        <key>frame</key>
        <string>{{2022,1145},{19,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,40}}</string>
        <key>sourceSize</key>
        <string>{19,40}</string>
      </dict>
      <key>common_info_bg4.png</key>
      <dict>
        <key>frame</key>
        <string>{{1686,1073},{221,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,5},{221,34}}</string>
        <key>sourceSize</key>
        <string>{231,44}</string>
      </dict>
      <key>common_icon_health.png</key>
      <dict>
        <key>frame</key>
        <string>{{1911,1092},{74,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{74,57}}</string>
        <key>sourceSize</key>
        <string>{74,57}</string>
      </dict>
      <key>common_lock.png</key>
      <dict>
        <key>frame</key>
        <string>{{1989,1092},{28,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,34}}</string>
        <key>sourceSize</key>
        <string>{28,34}</string>
      </dict>
      <key>common_btn1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1989,1130},{27,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,30}}</string>
        <key>sourceSize</key>
        <string>{27,30}</string>
      </dict>
      <key>common_btn2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1989,1164},{27,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,30}}</string>
        <key>sourceSize</key>
        <string>{27,30}</string>
      </dict>
      <key>common_progressbar3.png</key>
      <dict>
        <key>frame</key>
        <string>{{2020,1189},{26,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,28}}</string>
        <key>sourceSize</key>
        <string>{26,28}</string>
      </dict>
      <key>common_production_improvebg.png</key>
      <dict>
        <key>frame</key>
        <string>{{1686,1111},{202,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{202,59}}</string>
        <key>sourceSize</key>
        <string>{202,59}</string>
      </dict>
      <key>common_window_missioninfo.png</key>
      <dict>
        <key>frame</key>
        <string>{{1892,1153},{70,486}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,486}}</string>
        <key>sourceSize</key>
        <string>{70,486}</string>
      </dict>
      <key>server_hot.png</key>
      <dict>
        <key>frame</key>
        <string>{{1966,1198},{43,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,45}}</string>
        <key>sourceSize</key>
        <string>{43,45}</string>
      </dict>
      <key>common_window_titlebg.png</key>
      <dict>
        <key>frame</key>
        <string>{{2013,1221},{33,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,46}}</string>
        <key>sourceSize</key>
        <string>{33,46}</string>
      </dict>
      <key>common_handbook_decoration.png</key>
      <dict>
        <key>frame</key>
        <string>{{1966,1247},{43,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,43}}</string>
        <key>sourceSize</key>
        <string>{43,43}</string>
      </dict>
      <key>common_people_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{2013,1271},{32,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,2},{32,45}}</string>
        <key>sourceSize</key>
        <string>{36,49}</string>
      </dict>
      <key>common_progressbar5.png</key>
      <dict>
        <key>frame</key>
        <string>{{1966,1294},{42,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,36}}</string>
        <key>sourceSize</key>
        <string>{42,36}</string>
      </dict>
      <key>common_info_bg1.png</key>
      <dict>
        <key>frame</key>
        <string>{{2012,1320},{30,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,40}}</string>
        <key>sourceSize</key>
        <string>{30,40}</string>
      </dict>
      <key>common_icon_power.png</key>
      <dict>
        <key>frame</key>
        <string>{{1966,1334},{40,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,37}}</string>
        <key>sourceSize</key>
        <string>{40,37}</string>
      </dict>
      <key>common_btn5.png</key>
      <dict>
        <key>frame</key>
        <string>{{2010,1364},{36,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,57}}</string>
        <key>sourceSize</key>
        <string>{36,57}</string>
      </dict>
      <key>common_btn6.png</key>
      <dict>
        <key>frame</key>
        <string>{{2010,1425},{36,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,57}}</string>
        <key>sourceSize</key>
        <string>{36,57}</string>
      </dict>
      <key>common_chosen.png</key>
      <dict>
        <key>frame</key>
        <string>{{1966,1375},{39,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,39}}</string>
        <key>sourceSize</key>
        <string>{39,39}</string>
      </dict>
      <key>common_unchosen.png</key>
      <dict>
        <key>frame</key>
        <string>{{1966,1418},{39,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,39}}</string>
        <key>sourceSize</key>
        <string>{39,39}</string>
      </dict>
      <key>common_star.png</key>
      <dict>
        <key>frame</key>
        <string>{{1966,1461},{38,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,38}}</string>
        <key>sourceSize</key>
        <string>{38,38}</string>
      </dict>
      <key>common_tIcon.png</key>
      <dict>
        <key>frame</key>
        <string>{{2008,1486},{38,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,38}}</string>
        <key>sourceSize</key>
        <string>{38,38}</string>
      </dict>
      <key>common_info_bg2.png</key>
      <dict>
        <key>frame</key>
        <string>{{2008,1528},{37,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,38}}</string>
        <key>sourceSize</key>
        <string>{37,38}</string>
      </dict>
      <key>common_tips2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1966,1503},{37,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,38}}</string>
        <key>sourceSize</key>
        <string>{37,38}</string>
      </dict>
      <key>hero_Point coin3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1966,1545},{37,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,35}}</string>
        <key>sourceSize</key>
        <string>{37,35}</string>
      </dict>
      <key>common_btn_gray.png</key>
      <dict>
        <key>frame</key>
        <string>{{2007,1570},{36,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,57}}</string>
        <key>sourceSize</key>
        <string>{36,57}</string>
      </dict>
      <key>common_btn3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1966,1631},{70,51}}</string>
        <key>offset</key>
        <string>{-1.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,51}}</string>
        <key>sourceSize</key>
        <string>{73,51}</string>
      </dict>
      <key>common_btn_cancel.png</key>
      <dict>
        <key>frame</key>
        <string>{{1966,1584},{27,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,30}}</string>
        <key>sourceSize</key>
        <string>{27,30}</string>
      </dict>
      <key>common_progressbar2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1966,1686},{27,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,28}}</string>
        <key>sourceSize</key>
        <string>{27,28}</string>
      </dict>
      <key>common_video.png</key>
      <dict>
        <key>frame</key>
        <string>{{1440,1932},{63,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{63,63}}</string>
        <key>sourceSize</key>
        <string>{63,63}</string>
      </dict>
      <key>hero_button_action.png</key>
      <dict>
        <key>frame</key>
        <string>{{1440,1999},{116,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{116,43}}</string>
        <key>sourceSize</key>
        <string>{116,43}</string>
      </dict>
      <key>hero_button_gray.png</key>
      <dict>
        <key>frame</key>
        <string>{{1560,1999},{116,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{116,43}}</string>
        <key>sourceSize</key>
        <string>{116,43}</string>
      </dict>
      <key>personal_title.png</key>
      <dict>
        <key>frame</key>
        <string>{{1507,1932},{124,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{124,33}}</string>
        <key>sourceSize</key>
        <string>{124,33}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string></string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>common.png</string>
    </dict>
  </dict>
</plist>
