<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>fuben_cloud2.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{750,269}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{750,269}}</string>
        <key>sourceSize</key>
        <string>{750,269}</string>
      </dict>
      <key>fuben_cloud1.png</key>
      <dict>
        <key>frame</key>
        <string>{{756,2},{750,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{750,182}}</string>
        <key>sourceSize</key>
        <string>{750,182}</string>
      </dict>
      <key>fuben_select.png</key>
      <dict>
        <key>frame</key>
        <string>{{1510,2},{404,234}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{404,234}}</string>
        <key>sourceSize</key>
        <string>{404,234}</string>
      </dict>
      <key>fuben_swordicon.png</key>
      <dict>
        <key>frame</key>
        <string>{{1918,2},{96,143}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,143}}</string>
        <key>sourceSize</key>
        <string>{96,143}</string>
      </dict>
      <key>fuben_circle.png</key>
      <dict>
        <key>frame</key>
        <string>{{2018,2},{25,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,24}}</string>
        <key>sourceSize</key>
        <string>{25,24}</string>
      </dict>
      <key>fuben_rankicon.png</key>
      <dict>
        <key>frame</key>
        <string>{{1918,149},{95,81}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{95,81}}</string>
        <key>sourceSize</key>
        <string>{95,81}</string>
      </dict>
      <key>fuben_rewardicon.png</key>
      <dict>
        <key>frame</key>
        <string>{{1918,234},{91,81}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{91,81}}</string>
        <key>sourceSize</key>
        <string>{91,81}</string>
      </dict>
      <key>fuben_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{756,188},{632,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{632,120}}</string>
        <key>sourceSize</key>
        <string>{632,120}</string>
      </dict>
      <key>fuben_tip.png</key>
      <dict>
        <key>frame</key>
        <string>{{1392,188},{91,39}}</string>
        <key>offset</key>
        <string>{-0.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,0},{91,39}}</string>
        <key>sourceSize</key>
        <string>{94,39}</string>
      </dict>
      <key>fuben_rank1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1392,231},{83,78}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{83,78}}</string>
        <key>sourceSize</key>
        <string>{83,78}</string>
      </dict>
      <key>fuben_towerhome1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1479,240},{390,216}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{390,216}}</string>
        <key>sourceSize</key>
        <string>{390,216}</string>
      </dict>
      <key>fuben_blue.png</key>
      <dict>
        <key>frame</key>
        <string>{{1873,319},{172,112}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{172,112}}</string>
        <key>sourceSize</key>
        <string>{172,112}</string>
      </dict>
      <key>fuben_green.png</key>
      <dict>
        <key>frame</key>
        <string>{{1873,435},{168,113}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{168,113}}</string>
        <key>sourceSize</key>
        <string>{168,113}</string>
      </dict>
      <key>fuben_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,275},{632,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{632,120}}</string>
        <key>sourceSize</key>
        <string>{632,120}</string>
      </dict>
      <key>fuben_point.png</key>
      <dict>
        <key>frame</key>
        <string>{{638,275},{79,81}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,81}}</string>
        <key>sourceSize</key>
        <string>{79,81}</string>
      </dict>
      <key>fuben_towerhome2.png</key>
      <dict>
        <key>frame</key>
        <string>{{721,312},{390,216}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{390,216}}</string>
        <key>sourceSize</key>
        <string>{390,216}</string>
      </dict>
      <key>fuben_rewardlab.png</key>
      <dict>
        <key>frame</key>
        <string>{{638,360},{76,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{76,39}}</string>
        <key>sourceSize</key>
        <string>{76,39}</string>
      </dict>
      <key>fuben_titleicon.png</key>
      <dict>
        <key>frame</key>
        <string>{{1115,312},{232,89}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{232,89}}</string>
        <key>sourceSize</key>
        <string>{232,89}</string>
      </dict>
      <key>fuben_returnicon.png</key>
      <dict>
        <key>frame</key>
        <string>{{1351,313},{75,89}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,89}}</string>
        <key>sourceSize</key>
        <string>{75,89}</string>
      </dict>
      <key>fuben_yun2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1115,405},{229,247}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{229,247}}</string>
        <key>sourceSize</key>
        <string>{229,247}</string>
      </dict>
      <key>fuben_rank2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1348,406},{70,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,72}}</string>
        <key>sourceSize</key>
        <string>{70,72}</string>
      </dict>
      <key>fuben_towerhome3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1422,460},{390,216}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{390,216}}</string>
        <key>sourceSize</key>
        <string>{390,216}</string>
      </dict>
      <key>fuben_rank3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1348,482},{70,67}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,67}}</string>
        <key>sourceSize</key>
        <string>{70,67}</string>
      </dict>
      <key>fuben_red.png</key>
      <dict>
        <key>frame</key>
        <string>{{1816,552},{211,124}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{211,124}}</string>
        <key>sourceSize</key>
        <string>{211,124}</string>
      </dict>
      <key>fuben_yun1.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,399},{277,279}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{277,279}}</string>
        <key>sourceSize</key>
        <string>{277,279}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string></string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>fuben.png</string>
    </dict>
  </dict>
</plist>
