<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>pvp_bg.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{750,1334}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{750,1334}}</string>
        <key>sourceSize</key>
        <string>{750,1334}</string>
      </dict>
      <key>pvp_itemImg.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,1340},{206,423}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{206,423}}</string>
        <key>sourceSize</key>
        <string>{206,423}</string>
      </dict>
      <key>pvp_img1.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,1767},{345,243}}</string>
        <key>offset</key>
        <string>{0,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,1},{345,243}}</string>
        <key>sourceSize</key>
        <string>{345,244}</string>
      </dict>
      <key>pvp_btn_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,1340},{137,144}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{137,144}}</string>
        <key>sourceSize</key>
        <string>{137,144}</string>
      </dict>
      <key>pvp_img7.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,1488},{268,93}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{268,93}}</string>
        <key>sourceSize</key>
        <string>{268,93}</string>
      </dict>
      <key>pvp_img6.png</key>
      <dict>
        <key>frame</key>
        <string>{{353,1340},{268,92}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{268,92}}</string>
        <key>sourceSize</key>
        <string>{268,92}</string>
      </dict>
      <key>pvp_img5.png</key>
      <dict>
        <key>frame</key>
        <string>{{353,1436},{76,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{76,48}}</string>
        <key>sourceSize</key>
        <string>{76,48}</string>
      </dict>
      <key>pvp_img2.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,1585},{87,87}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{87,87}}</string>
        <key>sourceSize</key>
        <string>{87,87}</string>
      </dict>
      <key>pvp_img4.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,1676},{81,81}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{81,81}}</string>
        <key>sourceSize</key>
        <string>{81,81}</string>
      </dict>
      <key>pvp_img3.png</key>
      <dict>
        <key>frame</key>
        <string>{{297,1676},{80,80}}</string>
        <key>offset</key>
        <string>{0.5,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,0},{80,80}}</string>
        <key>sourceSize</key>
        <string>{81,81}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string></string>
      <key>size</key>
      <string>{1024,2048}</string>
      <key>textureFileName</key>
      <string>pvp.png</string>
    </dict>
  </dict>
</plist>
