<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>tree_bg1.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{693,846}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{693,846}}</string>
        <key>sourceSize</key>
        <string>{693,846}</string>
      </dict>
      <key>technology_tower.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,852},{202,319}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{202,319}}</string>
        <key>sourceSize</key>
        <string>{202,319}</string>
      </dict>
      <key>technology_bg.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,1175},{259,214}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{259,214}}</string>
        <key>sourceSize</key>
        <string>{259,214}</string>
      </dict>
      <key>tree_bg2.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,852},{178,169}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{178,169}}</string>
        <key>sourceSize</key>
        <string>{178,169}</string>
      </dict>
      <key>tree_itemBg3-1.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,1025},{126,108}}</string>
        <key>offset</key>
        <string>{0,-3.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,7},{126,108}}</string>
        <key>sourceSize</key>
        <string>{126,115}</string>
      </dict>
      <key>tree_countdown.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,1137},{23,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,27}}</string>
        <key>sourceSize</key>
        <string>{23,27}</string>
      </dict>
      <key>tree_arrow.png</key>
      <dict>
        <key>frame</key>
        <string>{{235,1137},{26,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,21}}</string>
        <key>sourceSize</key>
        <string>{26,21}</string>
      </dict>
      <key>tree_itemBg3-2.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,1393},{126,108}}</string>
        <key>offset</key>
        <string>{0,-3.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,7},{126,108}}</string>
        <key>sourceSize</key>
        <string>{126,115}</string>
      </dict>
      <key>tree_itemBg1.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,1505},{105,105}}</string>
        <key>offset</key>
        <string>{0.5,5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{11,0},{105,105}}</string>
        <key>sourceSize</key>
        <string>{126,115}</string>
      </dict>
      <key>tree_itemBg2.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,1614},{79,79}}</string>
        <key>offset</key>
        <string>{0.5,5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{24,13},{79,79}}</string>
        <key>sourceSize</key>
        <string>{126,115}</string>
      </dict>
      <key>Tree_tech_criticalImmune.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,1697},{70,78}}</string>
        <key>offset</key>
        <string>{0,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{12,8},{70,78}}</string>
        <key>sourceSize</key>
        <string>{94,93}</string>
      </dict>
      <key>Tree_tech_hit.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,1779},{75,74}}</string>
        <key>offset</key>
        <string>{1.5,-2.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{11,12},{75,74}}</string>
        <key>sourceSize</key>
        <string>{94,93}</string>
      </dict>
      <key>Tree_tech_critical.png</key>
      <dict>
        <key>frame</key>
        <string>{{76,1697},{74,74}}</string>
        <key>offset</key>
        <string>{2,-2.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{12,12},{74,74}}</string>
        <key>sourceSize</key>
        <string>{94,93}</string>
      </dict>
      <key>Tree_tech_armor.png</key>
      <dict>
        <key>frame</key>
        <string>{{85,1614},{69,71}}</string>
        <key>offset</key>
        <string>{0.5,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{13,14},{69,71}}</string>
        <key>sourceSize</key>
        <string>{94,93}</string>
      </dict>
      <key>Tree_tech_dodge.png</key>
      <dict>
        <key>frame</key>
        <string>{{111,1505},{69,69}}</string>
        <key>offset</key>
        <string>{1.5,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{14,14},{69,69}}</string>
        <key>sourceSize</key>
        <string>{94,93}</string>
      </dict>
      <key>technology_name_bg.png</key>
      <dict>
        <key>frame</key>
        <string>{{158,1393},{186,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{186,63}}</string>
        <key>sourceSize</key>
        <string>{186,63}</string>
      </dict>
      <key>tree_nail.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,1460},{40,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,39}}</string>
        <key>sourceSize</key>
        <string>{40,39}</string>
      </dict>
      <key>tree_max.png</key>
      <dict>
        <key>frame</key>
        <string>{{176,1460},{78,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,38}}</string>
        <key>sourceSize</key>
        <string>{78,38}</string>
      </dict>
      <key>Tree_tech_maxHp.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,1857},{74,62}}</string>
        <key>offset</key>
        <string>{2,-2.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{12,18},{74,62}}</string>
        <key>sourceSize</key>
        <string>{94,93}</string>
      </dict>
      <key>Tree_tech_attack.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,1923},{69,60}}</string>
        <key>offset</key>
        <string>{1.5,-2.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{14,19},{69,60}}</string>
        <key>sourceSize</key>
        <string>{94,93}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string></string>
      <key>size</key>
      <string>{1024,2048}</string>
      <key>textureFileName</key>
      <string>tree.png</string>
    </dict>
  </dict>
</plist>
