<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>turntable_bg.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{750,1334}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{750,1334}}</string>
        <key>sourceSize</key>
        <string>{750,1334}</string>
      </dict>
      <key>turntable_star02.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,1340},{115,561}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{115,561}}</string>
        <key>sourceSize</key>
        <string>{115,561}</string>
      </dict>
      <key>turntable_ribbon03.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,1905},{252,99}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{252,99}}</string>
        <key>sourceSize</key>
        <string>{252,99}</string>
      </dict>
      <key>turntable_star01.png</key>
      <dict>
        <key>frame</key>
        <string>{{121,1340},{145,547}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{145,547}}</string>
        <key>sourceSize</key>
        <string>{145,547}</string>
      </dict>
      <key>turntable_bottle02.png</key>
      <dict>
        <key>frame</key>
        <string>{{270,1340},{394,481}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{394,481}}</string>
        <key>sourceSize</key>
        <string>{394,481}</string>
      </dict>
      <key>turntable_bird05.png</key>
      <dict>
        <key>frame</key>
        <string>{{270,1825},{179,196}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{179,196}}</string>
        <key>sourceSize</key>
        <string>{179,196}</string>
      </dict>
      <key>turntable_bird03.png</key>
      <dict>
        <key>frame</key>
        <string>{{453,1825},{247,192}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{247,192}}</string>
        <key>sourceSize</key>
        <string>{247,192}</string>
      </dict>
      <key>turntable_bird04.png</key>
      <dict>
        <key>frame</key>
        <string>{{704,1825},{204,187}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{204,187}}</string>
        <key>sourceSize</key>
        <string>{204,187}</string>
      </dict>
      <key>turntable_bird02.png</key>
      <dict>
        <key>frame</key>
        <string>{{912,1825},{190,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{190,182}}</string>
        <key>sourceSize</key>
        <string>{190,182}</string>
      </dict>
      <key>turntable_bird01.png</key>
      <dict>
        <key>frame</key>
        <string>{{1106,1825},{200,159}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{200,159}}</string>
        <key>sourceSize</key>
        <string>{200,159}</string>
      </dict>
      <key>turntable_bottle.png</key>
      <dict>
        <key>frame</key>
        <string>{{1310,2},{690,743}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{690,743}}</string>
        <key>sourceSize</key>
        <string>{690,743}</string>
      </dict>
      <key>turntable_top.png</key>
      <dict>
        <key>frame</key>
        <string>{{756,2},{461,313}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{461,313}}</string>
        <key>sourceSize</key>
        <string>{461,313}</string>
      </dict>
      <key>turntable_ribbon02.png</key>
      <dict>
        <key>frame</key>
        <string>{{668,1340},{118,349}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{118,349}}</string>
        <key>sourceSize</key>
        <string>{118,349}</string>
      </dict>
      <key>turntable_ribbon01.png</key>
      <dict>
        <key>frame</key>
        <string>{{756,749},{109,340}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{109,340}}</string>
        <key>sourceSize</key>
        <string>{109,340}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string></string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>turntable.png</string>
    </dict>
  </dict>
</plist>
