<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>war_itemBg1.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{698,153}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{698,153}}</string>
        <key>sourceSize</key>
        <string>{698,153}</string>
      </dict>
      <key>war_order_hight.png</key>
      <dict>
        <key>frame</key>
        <string>{{704,2},{670,136}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{670,136}}</string>
        <key>sourceSize</key>
        <string>{670,136}</string>
      </dict>
      <key>war_itemBg2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1378,2},{668,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{668,123}}</string>
        <key>sourceSize</key>
        <string>{668,123}</string>
      </dict>
      <key>war_itemBg3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1378,129},{668,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{668,123}}</string>
        <key>sourceSize</key>
        <string>{668,123}</string>
      </dict>
      <key>war_order_complete.png</key>
      <dict>
        <key>frame</key>
        <string>{{704,142},{654,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{654,120}}</string>
        <key>sourceSize</key>
        <string>{654,120}</string>
      </dict>
      <key>war_loding.png</key>
      <dict>
        <key>frame</key>
        <string>{{1362,142},{5,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{5,100}}</string>
        <key>sourceSize</key>
        <string>{5,100}</string>
      </dict>
      <key>war_order_nocomplete.png</key>
      <dict>
        <key>frame</key>
        <string>{{1362,256},{654,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{654,120}}</string>
        <key>sourceSize</key>
        <string>{654,120}</string>
      </dict>
      <key>war_order_loading1.png</key>
      <dict>
        <key>frame</key>
        <string>{{2020,256},{16,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,55}}</string>
        <key>sourceSize</key>
        <string>{16,55}</string>
      </dict>
      <key>war_order_loading2.png</key>
      <dict>
        <key>frame</key>
        <string>{{2020,315},{16,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,55}}</string>
        <key>sourceSize</key>
        <string>{16,55}</string>
      </dict>
      <key>war_order_reward2bg.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,159},{305,95}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{305,95}}</string>
        <key>sourceSize</key>
        <string>{305,95}</string>
      </dict>
      <key>war_topBg.png</key>
      <dict>
        <key>frame</key>
        <string>{{311,159},{253,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{253,57}}</string>
        <key>sourceSize</key>
        <string>{253,57}</string>
      </dict>
      <key>war_titleBg.png</key>
      <dict>
        <key>frame</key>
        <string>{{568,159},{108,127}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{108,127}}</string>
        <key>sourceSize</key>
        <string>{108,127}</string>
      </dict>
      <key>war_leftBg.png</key>
      <dict>
        <key>frame</key>
        <string>{{311,220},{75,77}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,77}}</string>
        <key>sourceSize</key>
        <string>{75,77}</string>
      </dict>
      <key>war_order_dc1.png</key>
      <dict>
        <key>frame</key>
        <string>{{390,220},{66,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,70}}</string>
        <key>sourceSize</key>
        <string>{66,70}</string>
      </dict>
      <key>war_order_dc2.png</key>
      <dict>
        <key>frame</key>
        <string>{{460,220},{66,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,70}}</string>
        <key>sourceSize</key>
        <string>{66,70}</string>
      </dict>
      <key>war_order_bg.png</key>
      <dict>
        <key>frame</key>
        <string>{{530,220},{31,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,32}}</string>
        <key>sourceSize</key>
        <string>{31,32}</string>
      </dict>
      <key>war_order_home.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,258},{59,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{59,56}}</string>
        <key>sourceSize</key>
        <string>{59,56}</string>
      </dict>
      <key>war_order_challenge.png</key>
      <dict>
        <key>frame</key>
        <string>{{65,258},{56,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,57}}</string>
        <key>sourceSize</key>
        <string>{56,57}</string>
      </dict>
      <key>war_order_video.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,318},{53,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,46}}</string>
        <key>sourceSize</key>
        <string>{53,46}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string></string>
      <key>size</key>
      <string>{2048,512}</string>
      <key>textureFileName</key>
      <string>war.png</string>
    </dict>
  </dict>
</plist>
